<md-toolbar>

    <div class="md-toolbar-tools">
        <h2>
            <span>AngularJs Auth</span>
        </h2>

        <md-button ui-sref="home">Home</md-button>
        <md-button ng-if="vm.auth.isAuthenticated()" ui-sref="profile">Profile</md-button>
        <md-button ng-if="!vm.auth.isAuthenticated()" ng-click="vm.auth.login()">Log In</md-button>
        <md-button ng-if="vm.auth.isAuthenticated()" ng-click="vm.auth.logout()">Log Out</md-button>



        <!-- <div class="">
            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="home">home</a>
                </li>

                <li ng-if="vm.auth.isAuthenticated()">
                    <a ui-sref="profile">Profile</a>
                </li>

                <button ng-if="!vm.auth.isAuthenticated()" ng-click="vm.auth.login()" type="button" class="btn btn-primary">Log In</button>
                <button ng-if="vm.auth.isAuthenticated()" ng-click="vm.auth.logout()" type="button" class="btn btn-danger">Log Out</button>
            </ul>
        </div>
    </div> -->

</md-toolbar>